Console/Service References/EmployeeProxy/Employees.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" elementFormDefault="qualified" targetNamespace="http://adglopez.Services" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/Adglopez.Documenter.Samples/Employees.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost/Adglopez.Documenter.Samples/Employees.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Adglopez.ServiceDocumenter.Services.Contracts.Data" />
  <xs:element name="Add">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Adglopez.ServiceDocumenter.Services.Contracts.Data" minOccurs="0" name="req" nillable="true" type="q1:AddEmployeeReq" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="SharedHeader">
    <xs:sequence>
      <xs:element minOccurs="0" name="Software" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TraceId" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="User" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q2="http://adglopez.Services" name="SharedHeader" nillable="true" type="q2:SharedHeader" />
  <xs:element name="AddResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://adglopez.Services" minOccurs="0" name="AddResult" nillable="true" type="q3:AddEmployeeResp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="AddEmployeeResp">
    <xs:sequence>
      <xs:element xmlns:q4="http://adglopez.Services" minOccurs="0" name="Body" nillable="true" type="q4:Status" />
      <xs:element xmlns:q5="http://adglopez.Services" minOccurs="0" name="Header" nillable="true" type="q5:SharedHeader" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q6="http://adglopez.Services" name="AddEmployeeResp" nillable="true" type="q6:AddEmployeeResp" />
  <xs:complexType name="Status">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsSuccessfull" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q7="http://adglopez.Services" name="Status" nillable="true" type="q7:Status" />
  <xs:element name="Echo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EchoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EchoResult" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>