Console/Service References/EmployeeProxy/Employees.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://adglopez.Services" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://adglopez.Services" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://adglopez.Services/Imports">
      <xsd:import schemaLocation="http://localhost/Adglopez.Documenter.Samples/Employees.svc?xsd=xsd0" namespace="http://adglopez.Services" />
      <xsd:import schemaLocation="http://localhost/Adglopez.Documenter.Samples/Employees.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/Adglopez.Documenter.Samples/Employees.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Adglopez.ServiceDocumenter.Services.Contracts.Data" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IEmployeesService_Add_InputMessage">
    <wsdl:part name="parameters" element="tns:Add" />
  </wsdl:message>
  <wsdl:message name="IEmployeesService_Add_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddResponse" />
  </wsdl:message>
  <wsdl:message name="IEmployeesService_Echo_InputMessage">
    <wsdl:part name="parameters" element="tns:Echo" />
  </wsdl:message>
  <wsdl:message name="IEmployeesService_Echo_OutputMessage">
    <wsdl:part name="parameters" element="tns:EchoResponse" />
  </wsdl:message>
  <wsdl:portType name="IEmployeesService">
    <wsdl:operation name="Add">
      <wsdl:input wsaw:Action="http://adglopez.Services/IEmployeesService/Add" message="tns:IEmployeesService_Add_InputMessage" />
      <wsdl:output wsaw:Action="http://adglopez.Services/IEmployeesService/AddResponse" message="tns:IEmployeesService_Add_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Echo">
      <wsdl:input wsaw:Action="http://adglopez.Services/IEmployeesService/Echo" message="tns:IEmployeesService_Echo_InputMessage" />
      <wsdl:output wsaw:Action="http://adglopez.Services/IEmployeesService/EchoResponse" message="tns:IEmployeesService_Echo_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>