Console/Service References/EmployeeProxy/Employees2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Adglopez.ServiceDocumenter.Services.Contracts.Data" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Adglopez.ServiceDocumenter.Services.Contracts.Data" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/Adglopez.Documenter.Samples/Employees.svc?xsd=xsd0" namespace="http://adglopez.Services" />
  <xs:import schemaLocation="http://localhost/Adglopez.Documenter.Samples/Employees.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="AddEmployeeReq">
    <xs:sequence>
      <xs:element minOccurs="0" name="Body" nillable="true" type="tns:Employee" />
      <xs:element xmlns:q1="http://adglopez.Services" minOccurs="0" name="Header" nillable="true" type="q1:SharedHeader" />
      <xs:element minOccurs="0" name="OldEmployees" nillable="true" type="tns:ArrayOfEmployee" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AddEmployeeReq" nillable="true" type="tns:AddEmployeeReq" />
  <xs:complexType name="Employee">
    <xs:sequence>
      <xs:element minOccurs="0" name="Age" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Employee" nillable="true" type="tns:Employee" />
  <xs:complexType name="ArrayOfEmployee">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Employee" nillable="true" type="tns:Employee" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEmployee" nillable="true" type="tns:ArrayOfEmployee" />
</xs:schema>